# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
.env

# Build outputs
dist/
build/

# Python
__pycache__/
*.py[cod]
*.sqlite3

# System
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Git
.git

# IDE
.idea/
